* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Hind, sans-serif;
  color: #212529;
  line-height: 1.5;
  background-color: #fff;
}

.heading {
  max-width: 750px;
}

.heading h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 700;
}

.heading p {
  color: #585858;
  line-height: 24px;
}

.overlay {
  background: rgba(39, 43, 54, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
}

header .navbar-brand {
  font-size: 36px;
  color: #fff;
}

header .navbar-brand i {
  font-size: 45px;
  color: #35a22c;
}

#navbarPort .nav-item {
  margin: 0 10px;
}

#navbarPort .nav-item .nav-link {
  color: #fff;
  transition: all 0.5s;
}

#navbarPort .nav-item:hover .nav-link {
  color: #35a22c;
}

#navbarPort .nav-item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #35a22c;
  display: block;
  transition: all 0.5s;
}

#navbarPort .nav-item:hover::after {
  width: 100%;
}

#navbarPort .nav-item.active .nav-link {
  color: #35a22c;
}

#navbarPort .nav-item.active::after {
  width: 100%;
}

header .navbar-toggler {
  background-color: #35a22c;
}

header .navbar-toggler:hover {
  background-color: #0ea8cf;
}
/* Responsive */
@media screen and (max-width: 992px) {
  header .navbar-collapse {
    background-color: #fff;
  }

  #navbarPort .nav-item {
    margin: 0;
    padding: 0 10px;
  }

  #navbarPort .nav-item:hover {
    background-color: #35a22c;
  }

  #navbarPort .nav-item .nav-link {
    color: #35a22c;
  }

  #navbarPort .nav-item:hover .nav-link {
    color: #fff;
  }

  #navbarPort .nav-item.active::after,
  #navbarPort .nav-item:hover::after {
    width: 0;
  }
}

@media screen and (max-width: 376px) {
  header .navbar-brand i {
    font-size: 30px;
  }

  header .navbar-brand {
    font-size: 30px;
  }
}

/* Carousel */
.myCarousel .carousel-item {
  height: 100vh;
}

.myCarousel .carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myCarousel .carousel-caption h5 {
  font-size: 60px;
  line-height: 65px;
  margin-top: 40px;
}

.myCarousel .carousel-caption p {
  font-size: 24px;
}

.carousel-caption img {
  width: 140px;
  border-radius: 50%;
  margin: auto;
}

.myCarousel .carousel-indicators li {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: none;
}

.myCarousel .carousel-indicators li.active {
  background-color: #35a22c;
}

.carousel-indicators {
  bottom: 10%;
}

.carousel-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item:nth-child(1) {
  background-image: url(../image/finland.jpg);
}

.carousel-item:nth-child(2) {
  background-image: url(../image/mountains.jpg);
}

.carousel-item:nth-child(3) {
  background-image: url(../image/mountains-1.jpg);
}
/* Responsive */
@media screen and (max-width: 415px) {
  .carousel-caption img {
    width: 100px;
  }

  .myCarousel .carousel-caption h5 {
    font-size: 5vw;
    line-height: 5vw;
  }

  .myCarousel .carousel-caption p {
    font-size: 3vw;
  }

  .carousel-caption {
    padding-top: 0;
  }
}

@media screen and (max-width: 320px) {
  .carousel__thumb {
    width: 120px;
  }

  .carousel-caption img {
    width: 120px;
  }

  .myCarousel .carousel-caption h5 {
    font-size: 10vw;
    line-height: 10vw;
  }

  .myCarousel .carousel-caption p {
    font-size: 5vw;
  }

  .carousel-caption {
    padding-top: 0;
  }
}

/* Project */
.projects__item {
  margin-top: 30px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.13);
  border: none;
  cursor: pointer;
}

.projects__item p {
  color: #585858;
}

.projects__item .card-body {
  border: 1px solid transparent;
  border-radius: 0 0 1rem 1rem;
  transition: all 0.5s;
}

.projects__item:hover .card-body {
  border-color: #35a22c;
  border-top-color: transparent;
}

.projects__item:hover h3 {
  color: #35a22c;
}

.projects .nav-pills .nav-link {
  color: #1a1d2d;
  border: 1px solid #1a1d2d;
  margin: 0 5px;
}

.projects .nav-pills .nav-link.active,
.projects .nav-pills .show > .nav-link {
  background-color: #35a22c;
  color: #fff;
  border-color: #35a22c;
}

.projects__item {
  margin-top: 30px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}
/* Responsive */
@media screen and (max-width: 768px) {
  .projects__content .nav .nav-link {
    padding: 0.5rem;
  }

  .bg-overlay {
    background-position: right top;
  }
}

@media screen and (max-width: 425px) {
  .projects__content .nav .nav-item {
    margin-bottom: 1rem;
  }
}

/* Feature */
.feature {
  background: url(../image/3.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 120px;
  background-attachment: fixed;
  position: relative;
}

.feature .overlay {
  background: rgba(7, 10, 12, 0.72);
}

.feature .heading {
  position: relative;
}

.feature__item {
  padding: 40px 40px;
  transition: 0.3s;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}

.feature__item i {
  font-size: 48px;
  color: #35a22c;
}

.feature__item h4 {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}

.feature__item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.feature__item:hover {
  background: #000;
  border-color: #fff;
}

/* Award */
.award {
  position: relative;
  color: #585858;
  padding: 70px 30px;
}

.award__bg {
  background-image: url(../image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.award__left {
  /* margin: 5px 15px; */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  padding: 45px 35px;
  margin-left: 100px;
}

.award__right {
  padding: 30px 30px;
  margin: 0px 80px 0px -30px;
}
/* Responsive */
@media screen and (max-width: 768px) {
  .award__bg {
    background-size: cover;
  }
}

@media screen and (max-width: 376px) {
  .award__bg {
    background-size: cover;
  }
  .award__left {
    margin: 5px 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    padding: 40px;
  }
  .award__right {
    padding: 30px 30px;
    margin: 0px 80px 0px -30px;
  }
}

/* Footer */
footer {
  background: #222;
}

footer a {
  color: #aaa;
}

footer p {
  color: #aaa;
  margin: 0;
}

footer a:hover {
  text-decoration: none;
  color: #35a22c;
}

.footer__icon i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all 0.5s;
}

.footer__icon a {
  margin-right: 10px;
}

.footer__icon a:last-child {
  margin-right: 0;
}

.footer__copies {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}

.footer__icon i:hover {
  border-color: #35a22c;
}
